## Ejercicio 1: Transformar cadenas

In [14]:
text = """Interesting facts about the Moon. The Moon is Earth's only satellite. There are several interesting facts about the Moon and how it affects life here on Earth. 
On average, the Moon moves 4cm away from the Earth every year. This yearly drift is not significant enough to cause immediate effects on Earth. The highest daylight temperature of the Moon is 127 C."""

In [15]:
# Diviendo el texto en cada oración

text = text.split('. ')
text

['Interesting facts about the Moon',
 "The Moon is Earth's only satellite",
 'There are several interesting facts about the Moon and how it affects life here on Earth',
 '\nOn average, the Moon moves 4cm away from the Earth every year',
 'This yearly drift is not significant enough to cause immediate effects on Earth',
 'The highest daylight temperature of the Moon is 127 C.']

In [16]:
# Define las palabras clave: average, temperature y distance.

palabras_clave = 'average', 'temperature', 'distance'

In [19]:
# Crea un bucle para imprimir solo datos sobre la Lune que estén relacionados con las palabras clave definidas anteriormente:

for bucle in text:
    for palabras_clave in palabras_clave:
        if palabras_clave in bucle:
            print(bucle)

Interesting facts about the Moon
The Moon is Earth's only satellite
There are several interesting facts about the Moon and how it affects life here on Earth
This yearly drift is not significant enough to cause immediate effects on Earth
The highest daylight temperature of the Moon is 127 C.

In [23]:
# Ciclo para cambiar C a Celcius

for bucle in text:
    for palabras_clave in palabras_clave:
        if palabras_clave in bucle:
            print(bucle.replace(' C', ' Celsius'))

Interesting facts about the Moon
The Moon is Earth's only satellite
There are several interesting facts about the Moon and how it affects life here on Earth
This yearly drift is not significant enough to cause immediate effects on Earth
The highest daylight temperature of the Moon is 127 Celsius.

## Ejercicio 2: Formateando cadenas

In [13]:
# Datos para trabajar

name = "Moon"
gravity = 0.00162 # in kms
planet = "Earth"

In [14]:
title = f'Datos sobre la gravedad en {name}'

In [15]:
# Creamos la plantilla

plantilla = f"""{'-'*80}
Nombre del planeta: {planet}
Gravedad en {name}: {gravity * 1000} m/s2
"""

In [16]:
# Unión de ambas cadenas

union = f"""{title.title()}
{plantilla}
"""
print(plantilla)

--------------------------------------------------------------------------------
Nombre del planeta: Earth
Gravedad en Moon: 1.6199999999999999 m/s2

In [19]:
# Nuevos datos muestra

planeta = 'Marte '
gravedad = 0.00143
nombre = 'Ganímedes'

In [20]:
print(plantilla)

--------------------------------------------------------------------------------
Nombre del planeta: Earth
Gravedad en Moon: 1.6199999999999999 m/s2

In [22]:
# Nueva plantilla

nueva_plantilla = f"""
Datos de Gravedad sobre: {nombre}
{'-'*80}
Nombre del planeta: {planeta}
Gravedad en {nombre}: {gravedad} m/s2
"""
print(nueva_plantilla.format(nombre=nombre, planeta=planeta, gravedad=gravedad))

Datos de Gravedad sobre: Ganímedes
--------------------------------------------------------------------------------
Nombre del planeta: Marte
Gravedad en Ganímedes: 0.00143 m/s2

In [23]:
# Pista: print(nueva_plantilla,format(variables))
print(nueva_plantilla.format(nombre=nombre, planeta=planeta, gravedad=gravedad*1000))

Datos de Gravedad sobre: Ganímedes
--------------------------------------------------------------------------------
Nombre del planeta: Marte
Gravedad en Ganímedes: 0.00143 m/s2